/* Custom Styles */

body {
  background-color: #000;
  color: #fff;
}

/* Navbar */
.navbar{
  background-color: #000;
  color: #ffffff;
}

.navbar-brand {
  font-weight: bold;
  color: #fff;
}

/* Hero Section */
#hero {
  background-image: url('hero-image.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #ffffff;
}

/* Skills Section */
.skill-box {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

/* Project Section */
.project-box {
  border: 1px solid #000000;
  padding: 20px;
  margin-bottom: 20px;
}

.project-box img {
  max-width: 100%;
  height: auto;
}

.project-skills span {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* Footer Section */
.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: white;
}
